
@{
    ViewBag.Title = "DatThanhCong";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}

<div class="col-md-9 col-sm-9" style="margin-left:15%">
    <h1 style="text-align:center;color:blue">Đặt hàng thành công</h1>
    @*<div class="goods-page">
        
        

        <button style="margin-bottom:10px;margin-right:50%" class="btn btn-primary" type="submit">Đặt hàng <i class="fa fa-check"></i></button>
    </div>*@
</div>
