
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Home.cshtml";
}

    <!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-35">
    <div id="carousel-example-generic" class="carousel slide carousel-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-four active">
                <div class="container">
                    <div class="carousel-position-four text-center" style="margin-left: 190px;">
                        <h2 style="font-family:'Comic Sans MS'" class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                            B e a u t y <br /><span class="color-red-v2" style="color:#ffffff">&</span><br /> N a t u r a l
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">
                            The best color in the world,<br />
                            is the one that look good, on you.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-five">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                            Skin Care 
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                            Make-up product made in Korea
                        </p>
                        <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                            Story Natural
                        </p>
                        <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                    </div>
                    <img class="carousel-position-five animate-delay hidden-sm hidden-xs" src="~/Content/web/price.png" alt="Price" data-animation="animated zoomIn">
                </div>
            </div>
            <!-- Third slide -->
            <div class="item carousel-item-six">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        @*<span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
        Full Admin &amp; Frontend
    </span>
    <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
        eCommerce UI
    </p>
    <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
        Is Ready For Your Project
    </p>*@
                    </div>
                </div>
            </div>
            <!-- Fourth slide -->
            <div class="item carousel-item-seven">
                <div class="center-block">
                    <div class="center-block-wrap">
                        <div class="center-block-body">
                            <h2 class="carousel-title-v1 margin-bottom-20" data-animation="animated fadeInDown">
                                @*The most*@ <br />
                                @*wanted bijouterie*@
                            </h2>
                            <a class="carousel-btn" href="#" data-animation="animated fadeInUp">But It Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- END SLIDER -->
<div class="main">
    <div class="container">
        
        <!-- END SALE PRODUCT & NEW ARRIVALS -->
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
                @Html.Action("Brand", "_Home")
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                @Html.Action("Product_Price_Max", "_Home")
                <!-- END CONTENT -->
            </div>
        <!-- END SIDEBAR & CONTENT -->
       
        <!-- END TWO PRODUCTS & PROMO -->
    </div>
</div>
