@model IEnumerable<ProWeb.Models.P_MENUResult>
<!-- BEGIN NAVIGATION -->
<div class="header-navigation">
    <ul>
        @foreach (var item in Model)
        {
            <li style="background-color: #F6CECE;font-size:15px" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                    @item.TENDM

                </a>
           
                <ul class="dropdown-menu">
               @Html.Action("Menu_Category","_Home",new { id = item.MADM})
                </ul>
            </li>

        }












        

        <!--<li><a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes&amp;utm_source=download&amp;utm_medium=banner&amp;utm_campaign=metronic_frontend_freebie" target="_blank">Admin theme</a></li>-->
        <!-- BEGIN TOP SEARCH -->
        <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
                <form action="#">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </li>
        <!-- END TOP SEARCH -->
    </ul>
</div>
<!-- END NAVIGATION -->
